## MongoDB insertion Pipeline

### The Data Engineering team will send data to MongoDB database , we will retrieve from there. This file is to send it ourselves since it's a practice project

In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

### Important -> The DataFrame should be converted into dictionary before we push it to mongodb , since it is a nosql database the value should be in the form of key-value pairs

In [5]:
data = df.to_dict(orient='records')

#### We need to define which MongoDB database (DB_NAME) and collection(like a table in SQL) i.e (COLLECTION_NAME) you want to use
#### MongoDB -> Organises data into :- Databases -> Collections -> Documents
#### CONNECTION_URL -> This URL is required to connect your code to a MongoDB cloud-hosted cluster (MongoDB Atlas here).

In [7]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://<username>:<Password>@cluster0.afevjf1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# remove your credentials or delete the mongoDB resource before pushing it to GitHub

### Create a client object that allows you to interact with the MongoDB server.
### Which database the client should access and choose the collection from the database

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

### Uploading data to MongoDB

In [9]:
rec = collection.insert_many(data)